<% @articles.each do |article| %>
	<h2><%= link_to article.title, article %></h2>
	<div>
		<%= article.body %> 
		<%= button_to "Eliminar", article, method: :delete, class:"btn-delete be-red white" %>
	</div>
	<div>
		<% if article.may_publish? %>
			<%= button_to "Publicar", "/articles/#{article.id}/publish", method: :put, class:"btn-blue" %>
		<%end%>
	</div>
<%end%>
