<% if user_signed_in? %>
<h1>Hello! My name is Enrique Parra.</h1>

<h3>I'm a Software Engineer with twenty years of experience.</h3>
<h3>Also, I was a computing teacher for five years. I love teaching!.</h3>
<h3>I have a Bachelor's Degree in Computer Systems Engineering from the Instituto Tecnologico de Veracruz in Mexico.</h3>

<h3><font color="blue">"It's never too late to take a new direction, to live a new story or to build a new dream".</font></h3>

<h3>Regards</h3>


<%end%>

<!--
<p>This is a blog with Ruby on Rails 4 and database Sqlite3.</p>

<p>This is my first application in Ruby on Rails!!</p>



<% [1,2,3,4].each do |number| %>
	<p>Number: <%= number * 2%></p>
<%end%>
<% world = "Enrique" %>
<%= "Hello #{world}" %>
-->
